.Section {
  /*background: linear-gradient(-23deg, #00d2ff 0%, #5d69ea 100%);*/
  color: black;
  padding: 5em 0 5em 0;
  background: linear-gradient(0deg, #ffffff 0%, #f3f3f3 100%);
}

.Heading {
  padding-bottom: 4em;
  text-align: center;
}

.Heading h1 {
  font-family: 'Circular Bold';
  font-weight: 800;
  font-size: 3em;
}

.Heading h4 {
  font-family: 'Circular';
  font-weight: 400;
  font-size: 23px;
  color: #808080;
}

/*.SectionBackground {
position: absolute;
right: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(#ff9d2f, #ff6126);
transform: skewY(-6deg);
transform-origin: top left;
}*/

.Card {
  text-align: center;
  box-shadow: 2px 2px 20px -3px #bfbfbf;
  border-radius: 5px;
  /*padding: 1em 0.8em 0.5em 0.8em;*/
  margin: 1em 0;
  height: 93%;
  background-color: white;
}

.CardHeader {
  padding: 1.1em 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.CardName {
  text-transform: capitalize;
  font-size: 1.9em;
  padding-top: 10px;
  color: white;
  font-family: 'Circular Bold';
}

.Logo i {
  color: white;
  font-size: 45px;
}

/*
.CardName:after {
  content: '';
  position: absolute;
  margin-top: 50px;
  left: 50%;
  width: 70px;
  border: 2px solid #ececec;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
*/

.CardBody {
  padding: 1em;
  color: inherit;
  padding: 1em;
  margin-top: 20px;
  color: #736e6e;
}

svg {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

@media (max-width: 576px) {
  .Container {
    padding: 0 3em !important;
  }
}
